<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="robots" content="all,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NoticeBoard Services Status</title>
  <base href="https://status.hfi.me" />
  <!-- angular.min.js -->
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/jquery.jqplot.js"></script>
  <script src="/js/lib/jquery.flot.min.js"></script>
  <script src="/js/lib/jquery.flot.time.js"></script>
  <script src="/js/lib/jquery.flot.resize.js"></script>
  <script src="/js/lib/jquery.qtip.min.js"></script>
  <script src="/js/lib/angular-flot.js"></script>
  <script src="/js/lib/jquery.truncate.min.js"></script>
  <link rel="stylesheet" href="/css/jquery.qtip.min.css" />
  <link rel="stylesheet" href="/css/default.css" />
  <script src="/js/default.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/ui-chart.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/lib/bootbox.min.js"></script>
  <script type="text/javascript">
    var noPrefix = 'false' === 'true';
    var pageNumber = parseInt('1', 10);
    var sortType = parseInt('1', 10);
    (function noop() {})(noPrefix, pageNumber, sortType);
  </script>
  <script src="/js/app.js"></script>
  <script>window.flushHitokoto=function(){var hjs=document.createElement("script");hjs.setAttribute("src","https://api.lwl12.com/hitokoto/main/get?encode=json");document.body.appendChild(hjs)};setTimeout(window.flushHitokoto,1000);window.echokoto=function(result){document.getElementsByClassName("hitokoto")[0].innerHTML=result.hitokoto};</script>
</head>

<body ng-app="urStatusPage" ng-controller="StatusPageCtrl">
<a href="https://github.com/HFIProgramming/custom-uptimebot"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/camo.png" alt="Fork me on GitHub" data-canonical-src="/images/camo.png"></a>
  <!--Header start-->
  <header id="header">
    <div class="container">

      <img ng-src="https://userfiles.uptimerobot.com/img/{{ psp.logo }}" alt="logo" class="logo" ng-if="pspDataLoaded && psp.logo !== null"
      />
      <h2 class="nologo positive" ng-if="pspDataLoaded && psp.logo === null">{{ psp.name }}</h2>

      <div class="current-status">
        <span class="bullet" ng-class="{'bullet-success': psp.downCount === 0, 'bullet-danger': psp.monitorCount/2 < psp.downCount, 'bullet-warning': psp.monitorCount/2 > psp.downCount && psp.downCount !== 0}"></span>
        <strong ng-if="psp.downCount === 0 && hideRefreshRemaining !== true">All clear <span>Refreshing in {{ refreshRemaining }} secs</span></strong>
        <strong ng-if="psp.monitorCount/2 < psp.downCount" style="color: #CC3300">{{ psp.downCount }} monitors down. <span ng-if="hideRefreshRemaining !== true">Refreshing in {{ refreshRemaining }} secs</span></strong>
        <strong ng-if="psp.monitorCount/2 > psp.downCount && psp.downCount !== 0" style="color: #f7921e">{{ psp.downCount }} monitors down. <span ng-if="hideRefreshRemaining !== true">Refreshing in {{ refreshRemaining }} secs</span></strong>
      </div>
    </div>
  </header>
  <!--Header ebd-->

  <!--Main Content Start-->
  <div id="content">
    <div id="main" class="container">
      <div class="panel-group" id="announcement" role="tablist" aria-multiselectable="true" ng-if="psp.hasActiveAnnounce">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h3>({{ psp.activeAnnouncements }}) Announcements</h3>
            <h4 ng-if="!announcementsOpened">
              <b>{{ psp.firstAnnounceTitle }}</b>: {{ psp.firstAnnounceDescInline }}
            </h4>
            <a ng-if="psp.announcements.length > 0" ng-click="announcementsPanelToggled()" role="button" data-toggle="collapse" data-parent="#announcement"
              href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="arrow">
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ul>
                <li ng-repeat="announce in psp.announcements">
                  <span>{{ announce.title }}</span>
                  <p>{{ announce.desc }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div ng-repeat="monitortype in psp.montypes">
        <div class="row">
          <div class="col-sm-6">
            <h2>{{ monitortype }}</h2>
          </div>
          <!--div class="col-sm-6 right-align">
            <a href="#" class="btn btn-primary btn-round">subscribe to all monitors</a>
          </div-->
        </div>
        </header>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Last 7 Days</th>
                <th>Name</th>
                <th>Type</th>
                <th>Interval</th>
                <th ng-repeat="day in days">{{ day }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!--<td align="center" ng-repeat="day in days">{{ day }}</td> -->
                <tr ng-repeat="mon in psp[monitortype].monitors" ng-class="{'down': (mon.allLogs[0].statusStr === 'down')}">
                  <td>
                    <h4 class="{{ mon.oneWeekRange.label }}">{{ mon.oneWeekRange.ratio }}%</h4>
                  </td>
                  <td>
                    <h4 class="mon-name"><a href="{{ mon.statusPageURL }}">{{ mon.friendly_name }}</a></h4>
                  </td>
                  <td>{{ mon.typeStr }}</td>
                  <td>{{ mon.intervalMin }} mins</td>
                  <td ng-repeat="range in mon.customuptimeranges">
                    <span class="label label-{{ range.label }}">{{ range.ratio }}%</span>
                  </td>
                </tr>


            </tbody>
          </table>
        </div>
      </div>

      <ul class="pagination pagination-sm" ng-if="pagination.hidePagination !== true">
        <li ng-if="pagination.prevActive === true">
          <a href="{{ pagination.prevHref }}" aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <li ng-repeat="page in pagination.pages">
          <a href="?page={{page}}" ng-class="{'statuspage-pager-active': page == pageNumber }">
              {{ page }}
          </a>
        </li>
        <li ng-if="pagination.nextActive === true">
          <a href="{{ pagination.nextHref }}" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>

      <hr />

      <div class="row">
        <div class="col-sm-3">
          <h2>Quick Stats</h2>
          <ul class="stats">
            <li>
              <span class="bullet bullet-success"></span>
              <span class="success fl">Up</span>
              <span class="success fr">{{ pspStats.counts.up }}</span>
            </li>

            <li>
              <span class="bullet bullet-danger"></span>
              <span class="danger fl">Down</span>
              <span class="danger fr">{{ pspStats.counts.down }}</span>
            </li>

            <li>
              <span class="bullet bullet-info"></span>
              <span class="info fl">Paused</span>
              <span class="info  fr">{{ pspStats.counts.paused }}</span>
            </li>
          </ul>
        </div>

        <div class="col-sm-4 col-md-push-1 overall-uptime">
          <h2>Overall Uptime</h2>
          <ul class="overall">
            <li>
              <strong class="{{ pspStats.ratios.l1.label }}">{{ pspStats.ratios.l1.ratio }}% </strong>
              <span>(last 24 hours)</span>
            </li>
            <li>
              <strong class="{{ pspStats.ratios.l7.label }}">{{ pspStats.ratios.l7.ratio }}%</strong>
              <span>(last 7 days)</span>
            </li>
            <li>
              <strong class="{{ pspStats.ratios.l30.label }}">{{ pspStats.ratios.l30.ratio }}%</strong>
              <span>(last 30 days)</span>
            </li>
          </ul>
        </div>

        <div class="col-sm-3 col-md-push-1 latest-downtime">
          <h2>Latest Downtime</h2>
          <p>{{ latestDownTimeStr }}</p>
        </div>
      </div>
    </div>

  </div>
  <!-- Main Content END -->

  <!--Footer start-->
  <footer id="footer">
    <div class="container" ng-if="showURLinks">
      <div class="container-left" style="float: left;line-height: 35px;">
        <a href="http://hfiprogramming.club"><span class="provided">HFIProgramming</span></a><span><a href="https://lwl.moe/" target="_blank">本页面衍生自 LWL的自由天空 旗下监控页</a> | </span><span class="hitokoto" id="hitokoto">Loading...</span>
      </div>
      <span class="provided">Provided by:</span>
      <a href="https://uptimerobot.com" rel="nofollow"><img src="/images/uptime-logo.png" alt="logo" /></a>
    </div>
  </footer>
  <!--Footer END-->
  <div id="loader-overlay" class="fadeMe">

    <div class='loader-container'>
      <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
      </div>
    </div>

  </div>
</body>

</html>
